@model List<Week_10_Project.Models.Car>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css">
</head>
<body>
    <h1>List of Your Cars</h1>
    <h2><a href="/add">Add a new Car</a></h2>
                <table border="1">
                    <tr>
                        <td>Id</td>
                        <td>Model</td>
                        <td>Year of Build</td>
                        <td>Acceleration</td>
                        <td>Horse Power</td>
                        <td>Top Speed</td>
                        <td>Weight</td>
                    </tr>
                    @foreach (var car in Model)
                    {
                        <tr>
                            <td>@car.Id</td>
                            <td>@car.Model</td>
                            <td>@car.BuildYear</td>
                            <td>@car.Acceleration</td>
                            <td>@car.HorsePower</td>
                            <td>@car.TopSpeed</td>
                            <td>@car.Weight</td>
                            <td>@car.ImageLink</td>
                        </tr>
                    }
                </table>
</body>
</html>